@import url(http://fonts.googleapis.com/css?family=Roboto:500,300,400);

* {
  margin: 0;
  padding: 0;
}

body {
    margin:0;
    font-family:'Roboto', sans-serif;
    font-weight:300;
    color:#141414;
    background-color: #F5F5F5;
}

img.login_icon{
    height: 30px;
    
}


div .svg-container-fb{
   background-image: linear-gradient(#3857A1,#264285);
   border-color: #264285;
   width: 260px;
   margin-top: 15px;
   height: 30px;
   margin: 5px 0;
   border-radius: 3px;
}

div .svg-container-g {
   margin-top: 15px;
   height: 30px;
   width: 260px;
   border-color: #4285f4;
   background-color: #4285f4;
   border-radius: 3px;
}

div .svg-container-picadx {
   height: 30px;
   width: 260px;
   border-color: #808080;
   background-color: #A0A0A0;
   border-radius: 3px;
}

td, th {
   padding-left: 4px;
}
.Materials {
   margin-bottom: 40px;
}
.ExamTable {
   border: 1px solid #999999;
   width: 40%;
   border-collapse: collapse;
}

.ExamTable th {
   background-color: #E8E8E8;
}

.ExamTable tr {
   border: 1px solid #999999;
}

.ExamTable .status {
   text-align: right;
   padding-right: 25px;
}

.MissionTable {
   border: 1px solid #999999;
   width: 30%;
   border-collapse: collapse;
   float: right;
   margin-right: 20%;
}

.MissionTable th {
   background-color: #F5D6C6;
}

.MissionTable tr {
   border: 1px solid #999999;
}


a.fb_login {
   color: #ffff;
   font: 16px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

a.g_login {
   color: #ffff;
   font: 16px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;

}

a.picad_login{
   color: #ffff;
   font: 16px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;

}


.pop {display: none;}


img.logo-img {
  width: 50%;
  height: auto;
}

img.badge-img {
  width: 100px;
  height: 100px;
  margin-right: 25px;
  float: left;
}

img {
   width: 50px;
   height: 50px;
}

a {
    color:#141414;
    text-decoration:none;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Roboto', sans-serif;
    font-weight:300;
}

h1 {
    width:100%;
   /* overflow:auto;*/
    margin:0;
    font-size: 19px;
    font-weight: 450;
}


.question {
    font-size: 20px;
}

.module {
    /*overflow:auto;*/
    padding:20px 10px;
    width:100%
    float:left;
}

.module_list {
    margin-top: 80px;

}

.module_list h1{
    margin-bottom: 5px;

}

.module_list a:hover {
    text-decoration: none;
}

.module h3 {
    margin:30px 0 0;
    padding:0;
    width:100%;
    font-size: 15px;
    color:#4484CE;
    font-weight: 500;
}

.module p {
    margin:10px 0 20px;
    width:100%;
    float:left;
    font-size: 15px;
}

#answer_radio {
   width: 100px;
}


#header {
    background:#fff;
    overflow:auto;
    padding:10px 50px;
    border-bottom:3px solid #D9D9D9;
    margin-bottom: 25px;
}

/* delete? */
#header .logo {
    text-decoration:none;
    font-family:'Roboto', sans-serif;
    font-weight:300;
    text-transform:uppercase;
    font-size:24px;
    color:#141414;
    float:left;
}

#header a:hover {
    text-decoration: none;
    font-weight: 500;
    color: #141414;
}

#header .menu {
    list-style:none;
    float:right;
    margin:0;
    padding:5px 0px;
    overflow: hidden;

}
#header .menu li {
display: inline;
padding: 14px 16px;
}

/*
.contents {
    width:20%;
    padding:10px;
    float:left;
    background:#333;
    color: #fff;
    font-family:'Roboto', sans-serif;
}

.contents ul {
    list-style:none;
    margin:0;
    padding:0;
}

.contents ul li {
    margin:0 0 10px 0;
    padding:4px 10px 10px;
    overflow:auto;
}

.contents ul li.selected {
    background:#3f3f3f;
}

.contents ul li:hover {
    background:#3f3f3f;
    cursor:move;
}

.contents ul span {
    text-transform:uppercase;
    color:#bbb;
    font-size:14px;
}

.contents ul a {
    display:block;
    color:#fff;
    text-decoration:none;
}

.contents ul a:hover {
    color:#4dcc43;
}
*/

ul.content-types li {
    list-style:none;
    float:left;
    margin:10px;
    background:#efefef;
    padding:8px 14px;
}

.hidden {
    display:none;
}

form p {
    overflow:auto;
}

.errorlist {
    color:#ae2c2c;
    margin:0;
}

label {
    float:left;
    clear:both;
    margin:0 0 8px 0;
}

input, select, textarea {
    border:1px solid #ccc;
    border-bottom:3px solid #ccc;
    padding:8px 12px;
    font-size:16px;
    font-family:'Roboto', sans-serif;
    float:left;
    clear:both;
    width:300px;
}

textarea {
    height:80px;
}

select {
    width:324px;
}

input[type=submit], a.button, button {
    border-radius:5px;
    /*background:#6699FF;*/
    background:#4484CE;
    color:#fff;
    font-size:16px;
    border:none;
    padding:10px 20px;
    margin:20px 0;
}

input[class=add] {
    background:#3fad37;
}

input[class=add]:hover, input[type=submit]:hover, button:hover {
    opacity: .9;
    cursor: pointer;
    transition: all .4s ease;
}

a.secondary-button {
    border:3px solid #4dcc43;
    padding:10px 20px;
    margin:10px 0;
}

.course_info p {
margin-top: 5px;
}

.course_badge {
    float: left;
    margin-right:15px;
}
.course_container {
    display: flex;
    flex-wrap: wrap;
}

.course_button {
    width: 22%;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin: 0px 25px 25px 0px;
    cursor: pointer;
    padding-left: 15px;
    padding-top: 15px;
}

.course_button:hover {
    background: rgba(0,0,0,.125);
    transition: all .4s ease;
}

.subject {
    margin-bottom: 10px;
    text-transform: uppercase;
}

.course_button h3 {
    display: inline;
    font-size: 15px;
    color: #4484CE;
    font-weight: 500;
}

.card {
    cursor: pointer !important;
    padding: 10px;
    margin-left: 10px;
}

.card:hover {
  background:rgba(0,0,0,.125);
  transition: all .4s ease;
}


.card h2 {
  margin: 15px;
  color: white;
  font-weight: 500;
  font-size: 15px;
}
 
.card h3 {
  margin-top: 15px;
}

.card p {
  margin-bottom: 15px;
}
 

ul#course-modules {
    list-style:none;
    overflow:auto;
}

ul#course-modules textarea {
    width:100%;
    height:150px;
}

ul#course-modules li {
    padding:20px;
    overflow:auto;
}

ul#course-modules li:nth-child(even) {
    background:#efefef;
}

ul#course-modules li:hover {
    background:#ccc;
    cursor:move;
}

#module-contents div {
    padding:20px 20px 4px 20px;
    border:1px solid #ccc;
    background:#fff;
    overflow:auto;
}

#module-contents div:hover {
    cursor:move;
}

#module-contents a {
    float:left;
}

#module-contents form {
    margin:0;
    padding:0;
    float:left;
}

#module-contents input[type="submit"] {
    width:auto;
    background:none;
    color:#3fad37;
    margin:0 0 10px 10px;
    padding:0;
    text-transform:none;
}

.course-info {
    border:1px solid #ccc;
    padding:10px 20px 20px;
    width:400px;
    overflow:auto;
    margin-bottom:20px;
}

.course-info a {
    margin-right:10px;
}

.helptext {
    color:#ccc;
    padding-left:20px;
}




#add-class.card {
  cursor:pointer;
  background:#4484CE;
  color:#fff;
  height: 80px;
  font-weight: 500;
}

#add-class.card:hover {
  cursor:pointer;
  opacity: .9;
  transition: all .4s ease;
}

.edit-course {
  font-size: 24px;
  color: #4484CE;
  font-weight: 500;
}

#login-txt {
  color: #4484CE;
}

#login-txt:hover {
  text-decoration: none;
  font-weight: 500;
}

#add-material {
  background-color: #4484CE;
}

/*div.card.col-3.ui-sortable-handle {
  margin: 10px 10px;
}*/

.course-progress
{
    border: solid black 1px;
    height: 15pt;
}

div#mat-icon {
  font-size:24px;
  color: #141414;
  /*opacity: .5;*/
  vertical-align: middle;
  line-height: 50px;
  border-radius: 3px;
  background-color:#EFEFEF;
  width:50px;
  height:50px;
  padding-left:12px;
  display: inline-block;
}

.linkviewed
{
    color: red;
}


a.delete {
  float: right;
  font-weight: bold;
  background-color: #D2D2D2;
  border-radius: 50%;
  font-size: 12px;
  line-height: 18px;
  cursor: pointer;
}

.answerchoices {
    list-style: none;
}

.answerchoice input {
    width: auto;
    float: none;
    margin-right: 10px;
}

.incorrect
{
    background-color: #F00000 ;    	     
}

.correct
{
   background-color: #00C000;
}
