{% extends "base.html" %}
{% load cache %}

{% block title %}
    {{ object.title }}
{% endblock %}

{% block content %}

    <div class="contents">
        <h3>Materials</h3>
        <ul id="modules">
        {% for m in object.modules.all %}
            <li data-id="{{ m.id }}" {% if m == module %}class="selected"{% endif %}>
                <a href= "{{ m.description }}" >
              
                    <br>
                    {{ m.title }}
                </a>
            </li>
        {% empty %}
            <li>No materials yet.</li>
        {% endfor %}
        </ul>
    </div>
    <div class="module">
    {% cache 600 module_contents module %}
        {% for content in module.contents.all %}
            {% with item=content.item %}
                <h2>{{ item.title }}</h2>
                {{ item.render }}
            {% endwith %}
        {% endfor %}
    {% endcache %}
    </div>
{% endblock %}
