{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ object.title }}
{% endblock %}

{% block content %}
<div class="container" style="width:100%">
 <img class="badge-img" src="{{MEDIA_URL}}{{ course.badge }}" >

<div class="course_info">
<h1 style="color:#4484CE">{{ course.title }}</h1>
 {{ object.overview|linebreaks }}
</div>

        
        <div class="module_list">
      
      
             

            


<!--    took this section from students/course/detail.html -->

        

{% include "courses/course/m_detail.html" with modules=course.modules.all follow_link="follow_link_material" mod=materials title="MATERIALS" %}


{% include "courses/course/missions_detail.html" with modules=course.missions.all follow_link="follow_link_mission" mod=missions title="MISSIONS" %}


{% include "courses/exam/exam_detail.html" with exams=exams title="EXAMS" %}



 </div>
 </div> 
   

{% endblock %}

{% block domready %}
$('.link').click(function() {
  $(this).addClass('linkviewed');
});
{% endblock %}
