{% extends "base.html" %}


{% block content %}
{% load static %}

<div class="container">
  <h1><i class="fas fa-tachometer-alt"></i> 
{% if show_courses_by_owner %}
My Creations
{% else %}
 Classes 
{% endif %}
</h1>


{% regroup courses by subject as subject_list %}

{% for subject in subject_list %}
  <h4 class="subject"> {{ subject.grouper }} </h4>
<div class="course_container">
{% for course in subject.list %} 
    <div class="course_button" onclick="location.href='{% url "course_detail" course.slug %}'">
     <img class="course_badge" src="{{MEDIA_URL}}{{ course.badge }}">  	  
       <div class="course_info">     
               <h3> {{ course.title }}</h3>
            {% if course.total_modules == 1 %}
            <p>  {{ course.total_modules }} material</p>
            {% else %}
            <p>  {{ course.total_modules }} materials</p>
            {% endif %}
       </div>
{% if show_courses_by_owner == False %}
      
      <div data-progress="{{course.module_progress}}" class="course-progress">
      </div>   
{% endif %}
    </div>
{% endfor %}
</div>
{% endfor %}
</div>
{% endblock %}

{% block domready %}
for(var course of document.getElementsByClassName('course-progress'))
{
    var progress = course.dataset.progress
    course.textContent = progress + '% Completed';
    var gradient = 'linear-gradient(to right, rgba(0, 234, 0, 0.7) ' + progress + '%,rgba(0,0,0,0.65) ' + progress + '%,rgba(0,0,0,0) ' + progress + '%)';
    course.style.background = gradient;
}
{% endblock %}

