   <div class="Materials">     

<h1>{{ title }}</h1>
<ul id="modules" class="row" style="list-style-type:none">
         {% for m in modules %}
       <a class="link {% if m.viewed %}linkviewed{% endif %}" href="{% url follow_link id=m.id %}" title="{{ m.description }}" target="_blank">  <div class="card">

            <li data-id="{{ m.id }}" {% if m == module %}class="selected"{% endif %}> 

          {{ m.title }}
            </li>
          </div></a>


  
       {% empty %}
            <li>None yet.</li>
        {% endfor %}
        </ul>
 
</div>
