<table class="MissionTable"> 
<tr> <th colspan="2"> {{ title }} </th> 
</tr>

{% for m in modules %}

<tr>
    <td> <a class="link {% if m.viewed %}linkviewed{% endif %}" href="{% url follow_link id=m.id %}" title="{{ m.description }}" target="_blank"> 

          {{ m.title }}
            
          </a>
    </td>
   
 
</tr>

{% empty %}
<tr>
            <td>No missions yet.</td>
        {% endfor %}
</tr>

</table> 


    

