{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <meta charset="utf-8" />
    <title>{% block title %}PICADx{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
    <div id="header">
      <div class="container" style="width:100%">
        <a href="/" class="logo">
            <img src="{% static 'images/picadx_black_small.png' %}" alt="PICADx" class="logo-img">
        </a>

        <ul class="menu">
<li><a href="{% url "course_create" %}"></i></i>Create Course</a></li>


<li><a href="{% if not request.user.is_authenticated %} {% url "login" %}{% else %}{% url 'course_list' %}?show_courses_by_owner=1 {% endif %}">My Creations</a></li>


            {% if not request.user.is_authenticated %}
                <li><a href="{% url "login" %}"><i class="fas fa-sign-in-alt"></i> Log in</a></li>
            {% else %}
                <li>{{ user }} <a href="{% url "logout" %}"><i class="fas fa-sign-out-alt"></i> Log out</a></li>

            {% endif %}
        </ul>
    </div>
  </div>
    <div id="content">
        {% block content %}
        {% endblock %}
  </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function() {
            {% block domready %}
            {% endblock %}
        });
    </script>
</body>
</html>
