{% extends "base.html" %}

{% block title %}
    Edit {{ mission.title }}
{% endblock %}

{% block content %}
    <h1>Edit {{ mission.title }}</h1>
    <div class="module">

        <h2>Course Mission</h2>

        <form method="post" enctype="multipart/form-data">
            {{ form.as_p }}

            {% csrf_token %}
            <input type="submit" class="button" value="Save mission">
        </form>
    </div>
{% endblock %}
