{% extends "base.html" %}

{% block title %}
    Edit {{ module.title }}
{% endblock %}

{% block content %}
    <h1>Edit {{ module.title }}</h1>
    <div class="module">
        <h2>Course Material</h2>

        <form method="post" enctype="multipart/form-data">
            {{ form.as_p }}

            {% csrf_token %}
            <input type="submit" class="button" value="Save material">
        </form>
    </div>
{% endblock %}
