{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container" style="width:100%">
    <h1>
<i class="fas fa-plus"></i> {{ title }}
    </h1>
    <p>Fields marked with an * are required.</p>
    <div class="module">


        <form method="post" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input class='add' type="submit" value="{{ title }}"></p>
        </form>
      </div>

{% endblock %}
