{% extends "base.html" %}{% block title %}Logged out{% endblock %}{% block content %}
<div class="container" style="width:100%">
<h1>Logged out</h1>
<div class="module">
<p>You have been successfully logged out. You can <a id="login-txt" href="{% url "login" %}">log-in again</a>.</p>
</div>
</div>
{% endblock %}
