{% extends "base.html" %}
{% load static %}
<head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
{% block domready %}
    $( "#sortable" ).sortable({
        update: function (event, ui) {
        var data = $(this).sortable('toArray', { attribute: "data-moduleid" } );
        var i;
        var dict={};

        for (i=0; i < data.length; i++) {dict[data[i]]=i+1;}
              

        // POST to server using $.post or $.ajax
        $.ajax({
            data: JSON.stringify(dict),
            contentType: "application/json",
            type: 'POST',
            url: "{% url 'module_order' %}" });
                                     }
                              });
    $( "#sortable" ).disableSelection();

function updateslug()
{
  var title = $(this).val().toLowerCase();
  title = title.replace(/[^\w]/g,'-');
  $('#id_slug').val(title);
}

$('#id_title').on('input', updateslug);

$(".program").click(function () {
  $( "#dialog" ).dialog({
     });
  return false;
});

$('#program_submit').click(function() {
  //add value to program drop down list
  var newProgram = $('input[name="newprogram"]').val();
  var mySelect = $('#id_subject');
  mySelect.append($('<option></option>').val('-1').html(newProgram));
  mySelect.find('option:last').attr('selected', 'selected');		      
  $('input[name="createnewprogram"]').val(newProgram);		      
  $('#dialog').dialog('close');		      
  });
{% endblock %}
</script>
</head>

{% block title %}
    {% if object.visibility == 1 %}
        Edit Class: {{ object.title }}
    {% else %}
        Add Class
    {% endif %}
{% endblock %}

{% block content %}
<div class="container" style="width:100%">
    <h1>
        {% if object.visibility == 1 %}
            <i class="fas fa-edit"></i> Edit Class: <span class="edit-course">{{ object.title }}</span>
        {% else %}
            <i class="fas fa-plus"></i> Add Class
        {% endif %}
    </h1>
    <p style="margin-top:1em">Fields marked with an * are required.</p>
    <div class="module">

         </h3>
       </div>


<button class="btn program">Add a new program</button>
<div class="messagepop pop" id="dialog">
  <p>
    <label for="newprogram">Enter new program</label>
    <input name="newprogram" id="progname" placeholder="My New Program">
  </p>
  <p><input type="submit" value="Submit" name="commit" id="program_submit"/></a></p>
</form>
</div>


        <form action="" method="post" enctype="multipart/form-data">



            {{ form.as_p }}
            {% csrf_token %}
    <input type="hidden" name="createnewprogram"/>
<h1><hr>MATERIALS</h1>
              <p style="margin-top:1em">* At least 1 material is required.</p>	
              <ul id="sortable" class="connectedSortable row" style="list-style-type:none">
              
<input id="add-mat" class="card col-3 text-center m-2" name="addmaterial" type="submit" value="Add Material"></input>

 {% include "courses/manage/course/module_list.html" with modules=course.modules.all update="course_module_update" delete="delete_module" course=course %}

              </ul>

<h1><hr>MISSIONS</h1>
    <ul id="sortable" class="connectedSortable row" style="list-style-type:none">
<input id="add-mis" class="card col-3 text-center m-2" name="addmission" type="submit" value="Add Mission"></input>

 {% include "courses/manage/course/module_list.html" with modules=course.missions.all update="course_mission_update" delete="delete_mission" course=course %}
 </ul>






              <hr>
              <div class="row">
                <div class="col-4"></div>
              <p class="col-4"><input class='add' name="button1" type="submit" value="{% if object.visibility == 1 %} Update Class {% else %} Add Class {% endif %}"></p>
              <div class="col-4"></div>

            </div>
        </form>

    </div>



  </div>


{% endblock %}
