               


            {% for module in modules %}
                <div class="card col-3 m-2" onClick="location.href='{% url update pk=course.id module_id=module.id %}'" target="_blank">

              <li data-moduleid="{{ module.id }}" class="ui-state-default">

                                  {{ module.title }}
                                  <a class="delete" href="{% url delete pk=course.id module_id=module.id %}" onclick="return confirm('Are you sure you want to delete?');">X</a>
                            </li>
                            </div>

              {% endfor %}
