{% extends "base.html" %}

{% block title %}
    Sign up
{% endblock %}

{% block content %}

    <div class="module">
    <h1>
        Sign up
    </h1>
        <p>Enter your details to create an account:</p>

        <form action="" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Create my account"></p>
        </form>
    </div>
{% endblock %}
