<table class="ExamTable"> 
<tr> <th colspan="2"> {{ title }} </th> 
</tr>

{% for exam in exams %}

<tr>
    <td><a href="{% url 'Take_exam' course.id exam.id %}" title="{{ exam.description }}" target="_blank">  
  {{ exam.title }}</a>
    </td>
    <td class="status">
       {% if not exam.latest_sitting %}
  NOT COMPLETED {{ exam.latest_sitting.user_answers }}
  {% elif exam.latest_sitting.check_if_passed %}
  PASSED
  {% else %}
  FAILED
  {% endif %}
    </td>
</tr>

{% empty %}
<tr>
            <td>No exams yet.</td>
        {% endfor %}
</tr>

</table>        











