{% extends "base.html" %}
{% load i18n %}

{% load quiz_tags %}
{% load exam_tags %}

{% block title %} {{ quiz.title}} {% endblock %}
{% block description %} {% trans "Exam Results for" %} {{ quiz.title }} {% endblock %}

{% block content %}

  {% if previous.answers %}

  <p class="muted"><small>{% trans "The previous question" %}:</small></p>
  <p>{{ previous.previous_question }}</p>
  <p>Your answer was
	<strong>
	  {{ previous.previous_outcome|yesno:"correct,incorrect" }}
	</strong>
  </p>
  {% include 'correct_answer.html' %}
  <p><strong>{% trans "Explanation" %}:</strong></p>
  <div class="well " style="background-color: #fcf8e3;">
    <p>{{ previous.previous_question.explanation }}</p>
  </div>
  <hr>

  {% endif %}

  {% if max_score %}
<div class="container">
  <div>
	<h2>{% trans "Exam results" %}</h2>
	<p>
	  <small class="muted">{% trans "Exam title" %}: </small>
	  <strong>{{ quiz.title }}</strong></p>

	<p class="lead">
	  {% trans "You answered" %} {{ score }} {% trans "questions correctly out of" %} {{ max_score }}, {% trans "giving you" %} {{ percent }} {% trans "percent correct" %}
	</p>

	{% if quiz.pass_mark %}
	<hr>
        <p class="lead">{{ sitting.result_message }}</p>
	<hr>

	{% else %}


	<p>{% trans "Review the questions below and try the exam again in the future"%}.</p>
	{% endif %}
	{% if user.is_authenticated %}

	  <p>{% trans "The result of this exam will be stored in your grade section." %}.</p>

	{% endif %}
  </div>


  {% endif %}


  <hr>

  {% if possible %}

  <p class="lead">
	{% trans "Your session score is" %} {{ session }} {% trans "out of a possible" %} {{ possible }}
  </p>

  <hr>

  {% endif %}

	<p>{% trans "Review the questions below and try the exam again in the future. Incorrect answers are marked red."%}.</p>

  {% if questions %}
  {% for question in questions %}
<div class="{% if question.id in incorrect_questions %}incorrect{% else %}correct{% endif %}">
  <p class="question"> {{ question.content }} </p>
  <ul class="answerchoices">
	     {% for answer in question.get_answers %}
	     <li class="answerchoice">
	       <input type="checkbox" name="{{question.id}}" type="checkbox" value="{{answer.id}}" {% if sitting|is_user_answer_checked:answer %} checked="checked" {% endif%} disabled="disabled"/>{{answer.content}}
	     </li>
	     {% endfor %}
  </ul>
</div>

  {% endfor %}

  {% endif %}
</div>

{% endblock %}
