
{% extends "base.html" %}

{% block content %}
{% load static %}

<div class="container">
<h1>{{exam}}</h1>

<form method="post">
 {% csrf_token %}
{% for question in questions %}

<p class="question"> {{ question.content }} </p>
<ul class="answerchoices">
  {% for answer in question.get_answers %}
  <li class="answerchoice">
    <input type="checkbox" name="{{question.id}}" type="checkbox" value="{{answer.id}}"/>{{answer.content}}
  </li>
  {% endfor %}
</ul>
{% endfor %}
<input type="submit" value="Submit answers"/>
</form>
</div>
{% endblock %}
